.button {
    font-family: 'Source Serif 4';
    color: #242831;
    background-color: #F5F5F5;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding: 4px 65px;
    margin: 13px 0;
    border-radius: 5px;
    border: 1px solid #6B6B6B;
}