.profileitem {
    border-bottom: 1px solid rgba(107, 107, 107, 0.2);
}

.name {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: left;
    padding-left: 5px;
    color: #6B6B6B;
    margin-bottom: 5px;
    margin-top: 22px;
}

.data {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-left: 5px;
    text-align: left;
    color: #242831;
    margin-bottom: 20px;
}