* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: #fff;
}

.mainsection {
  /* background-color: green; */
  padding-bottom: 50px;
}

.defaulttext {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #6B6B6B;
}